body {
   
    padding: 0;
    margin: 0;   
}

#container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;     
}

/*                    button                       */



#btn_random_box, #btn_random_dice {
    width: 400px;
    height: 160px;
    position: relative;
    display: inline-block;
    border-radius: 30px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    box-shadow: 5px 5px 7px 1px rgb(41, 41, 41);
    margin: 2px;
}

#btn_random_box {
    position: relative;
    top: 478px;
}

#container_resultat {
    width: 300px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 260px;
}

#btn_random_dice {
    position: relative;
    top: 280px;
}

#btn_retour{
    width: 100px;
    height: 35px;
    position: relative;
    display: inline-block;
    border-radius: 3px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    box-shadow: 1px 1px 7px 0px rgb(41, 41, 41);
    margin: 2px;
    align-self: flex-end;
    right: 140px;
    bottom: 75px;
}

#valeur_dice{
    width: 40px;
}

/*                    titre                       */

#titre {
    position: relative;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
}

h2 {
    position: absolute;
    top: 280px;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}