body {
   
    padding: 0;
    margin: 0;   
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
      
}

#btn_random_box {
   
    
    top: 665px; 
    
   
}

button{
    width: 400px;
    height: 160px;
    position: relative;
    display: inline-block;
    border-radius: 30px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    box-shadow: 5px 5px 7px 1px rgb(41, 41, 41);
    margin: 2px;
    top: 165px;
    box-sizing: border-box;
    transition: all 500ms ease; 
}

#titre {
    position: relative;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    text-align: center
}



button:hover{
    color: #eccf26;
    border: #eccf26 solid 10px;
    background:rgba(255, 255, 255, 0.979);
    border-radius: 0%;
    font-size: 2.3em;
}

button:active{
    background-color: #dbdbdb;
    
}

button:focus {
    border: #eccf26 solid 20px;
}
 