body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chant_principale {
    display: inline-block;
    width: 93%;
    height: 30px;
    position: relative;  
}