body {
    
    padding: 0;
    margin: 0;   
}

#container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;     
}

#container_btn {
   
    position: relative;
    top: 538px;  
}

button{
    width: 400px;
    height: 160px;
    position: relative;
    display: inline-block;
    border-radius: 30px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    box-shadow: 5px 5px 7px 1px rgb(41, 41, 41);
    margin: 2px;
    box-sizing: border-box;
    transition: all 500ms ease; 
    
}

#titre {
    position: relative;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
}

#btn_random_position {
    position: relative;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 400px;
    height: 160px;
    border-radius: 30px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    box-shadow: 5px 5px 7px 1px rgb(41, 41, 41);
    margin: 2px;

}

#btn_random_box{
    position: relative;
    top: 165px;
    
}

#espace_mouvement{
    border: 1px solid black;
    height: 700px;
    width: 1000px;
    position: absolute;
    top: 100px;
  
    display: inline-block;
}

  #btn_retour{
    width: 110px;
    height: 35px;
    position: absolute;
    display: inline-block;
    border-radius: 3px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    box-shadow: 1px 1px 7px 0px rgb(41, 41, 41);
    margin: 2px;
    align-self: flex-end;
    right: 140px;
    top: 44px;
    padding: 0px 30px;  
    overflow:hidden;
}

/*               animation btn random-box       */

#btn_random_box:hover{
    color: #eccf26;
    border: #eccf26 solid 10px;
    background:rgba(255, 255, 255, 0.979);
    border-radius: 0%;
    font-size: 2.3em;
}

#btn_random_box:active{
    background-color: #dbdbdb;
    
}

#btn_random_box:focus {
    border: #eccf26 solid 20px;
}
 
/*               animation btn retour       */


#btn_retour:before {
   
    background: url('https://hakimoss.github.io/random_position/image/fleche_black.png');
    position: absolute;
    height: 20px;
    width: 20px;
    display: block;
    top: 5px;
    left: -25px;
    transition: all 300ms ease;
  }

#btn_retour:hover:before {
    left: 5px;
  }