body {
   
    padding: 0;
    margin: 0;   
}

#container{
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;     
}

#container_btn {
   
    position: relative;
    top: 500px;  
}

/*                      button                              */

#btn_random_image, #btn_random_box{
    width: 400px;
    height: 160px;
    position: relative;
    display: inline-block;
    border-radius: 30px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    box-shadow: 5px 5px 7px 1px rgb(41, 41, 41);
    margin: 2px;
}

#btn_random_image {
    position: relative;
    top: 200px;
}

#titre {
    position: relative;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
}

#btn_retour{
    width: 100px;
    height: 35px;
    position: relative;
    display: inline-block;
    border-radius: 3px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    box-shadow: 1px 1px 7px 0px rgb(41, 41, 41);
    margin: 2px;
    align-self: flex-end;
    right: 140px;
    bottom: 75px;
}